:root {
    --background-color: hsl(0, 0%, 15%);
    --header-background-color: hsla(0, 0%, 15%, 90%);
    --primary-font-color: hsl(0, 0%, 90%);
    --secondary-font-color: hsl(0, 0%, 50%);
    --font-fancy: pink;
}

body {
    background-color: var(--background-color);
    color: var(--primary-font-color);
    font-size: 24;
    font-family: 'Poppins',
    sans-serif;

}

header {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    padding: 20px;    
}

#logo {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.9em;
}

nav {
    word-spacing: 2em;
    font-weight: bold;
    margin-right: 3em;
}

header a {
    color: inherit;
    text-decoration: inherit;
    font-style: bold;
}

main {
    text-align: left;
    height: 90%;
    padding: 20% 10%;
    font-size: 2em;
}

main p {
    color: var(--secondary-font-color);
    font-size: 0.8em;
    font-style: italic;
}

main h1 { 
    padding: 0;
    margin: 0;
    letter-spacing: 0.05em;
    line-height: 1em;
}

#hello {
    color: var(--font-fancy);  
}

div#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-column-gap: 2em;
    padding: 10%;
}

div#about div.header {
    text-align: center;
    font-size: 1.5em;
}

div.about div.info {
}

div#about div.img {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: flex-end;
}

div#about div.img img {
    max-height: 600px;
    justify-items: right;
}