:root {
    --background-color: hsl(0, 0%, 15%);
    --header-background-color: hsla(0, 0%, 15%, 90%);
    --footer-background-color: hsl(0, 0%, 10%);
    --primary-font-color: hsl(0, 0%, 90%);
    --secondary-font-color: hsl(0, 0%, 50%);
    --font-fancy: pink;
    --gmail-color: #DC4D41;
}

body {
    background-color: var(--background-color);
    color: var(--primary-font-color);
    font-size: 24;
    font-family: 'Poppins',
    sans-serif;

}

header {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    padding: 20px;    
    background: var(--header-background-color);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

#logo {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.9em;
    transition: 0.3s;
}

#logo:hover {
    color: var(--font-fancy);
}

nav {
    word-spacing: 2em;
    font-weight: bold;
    margin-right: 3em;
}

header a {
    color: inherit;
    text-decoration: inherit;
    font-style: bold;
}
.box {
position: relative;
display: inline-block;
cursor: pointer;
}

.underline::after {
    content: "";
    position: absolute;
}

.box .underline::after {
    top: 100%;
    height: 2px;
    width: 0%;
    left: -5%;
    background-color: var(--font-fancy);
    transition: 0.3s ease all .3s;
}

.box:hover .underline::after {
    width: 110%;
    transition: 0.3s ease all;
}

main {
    text-align: left;
    height: 90%;
    padding: 10em 10%;
    font-size: 2em;
}

main p {
    color: var(--secondary-font-color);
    font-size: 0.8em;
}

main h1 { 
    padding: 0;
    margin: 0;
    letter-spacing: 0.05em;
    line-height: 1em;
}

#hello {
    color: var(--font-fancy);  
}

div#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-column-gap: 2em;
    padding: 10%;
}

div#about div.header {
    text-align: center;
    font-size: 1.5em;
}

div.about div.info {
    padding: 0 0 0 1em;
    border-left: 1px solid var(--font-fancy);
}

div#about div.img {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: flex-end;
}

div#about div.img img {
    max-height: 600px;
    justify-items: right;
}

div#about div.img img:hover{
}

@media only screen and (max-width: 1200px) {
    div#about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.about div.info {
        order: 1;
    }
}
div#contact {
    padding: 5%;
}

div#contact div.contact {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}

div#contact div.contact h2 {
    font-size: 2em;
}

div#contact div.medias{
    display: flex;
    justify-content: center;
    padding: 5em auto 3em auto;
    text-align: center;  
}

#contact .medias a {
    color: inherit;
    text-decoration: inherit;
}

.media {
    padding: 3em;
    margin: 0 3em;
}
.media .fa {
    font-size: 3em;
    padding: 0 1em 1em 1em;
}
.contact .medias .media .plugin {
    padding-bottom: 1em;
}

.medias .media:hover {
    color: var(--font-fancy);
    border: 1px solid var(--font-fancy);
    -webkit-border-radius: 1em;
}